/*APPLY ALL COLOR*/
	body {
		background-color: black;
		margin: 0 !important;
	}

	.topBar, .partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .crossBar, .bowlTopBar, .topBowl, .bottomBowl, .bottomBar, .bowlBottomBar, .rightBowl, .halfCrossBar, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .rightArm, .threeQuarterLeftStem, .middleVertex, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .threeQuarterCrossBar, .halfMiddleStem, .topHalfLeftStem, .topHalfRightStem, .leftDiagonalStroke, .rightDiagonalStroke{
		background-color: white !important;
	}

/*UNIT*/
	.glyph {
		margin-top: .2%;
		margin-bottom: .2%;
		margin-left: .1%;
		margin-right: .1%;
		height: 800px;
		position: relative;
	}


/*APPLY ALL COLOR*/
	.topBar, .partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .crossBar, .bowlTopBar, .topBowl, .bottomBowl, .bottomBar, .bowlBottomBar, .rightBowl, .halfCrossBar, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .rightArm, .threeQuarterLeftStem, .middleVertex, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .threeQuarterCrossBar, .halfMiddleStem, .topHalfLeftStem, .topHalfRightStem, .leftDiagonalStroke, .rightDiagonalStroke{
		background-color: white;
	}


/*ALL HORIZONTAL DIVS*/
	.topBar, .crossBar, .bowlTopBar, .bottomBar, .bowlBottomBar, .halfCrossBar, .middleVertex, .threeQuarterCrossBar {
		height: 25%;
	}

/*ALL VERTICAL DIVS*/
	.partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .topBowl, .bottomBowl, .rightBowl, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .threeQuarterLeftStem, .rightArm, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .topHalfLeftStem, .topHalfRightStem, .halfMiddleStem, .leftDiagonalStroke, .rightDiagonalStroke {
			width: 49.2%;
	}

/*Fixing Letter G*/
.bottomBowl {
	height: 25% !important;
}

/*Fixing Letter B, D*/
.bowlTopBar, .bowlBottomBar {
	width: 99.6% !important;
}

.topBowl {
	width: 49.6% !important;
}

.bottomLeg, .xBottomRight {
	margin-left: 50.2% !important;
}

.halfMiddleStem, .middleStem {
	margin-left: 35% !important;
}

.bottomTail {
	margin-left: 50% !important;
}

#capitalC .glyph .partialLeftStem {
	width: 99.6% !important;
}

#capitalE .glyph .partialLeftStem {
	width: 99.6% !important;
}

#capitalF .glyph .partialLeftStem {
	width: 99.6% !important;
}

#capitalI .glyph .middleStem {
	width: 99.2% !important;
	margin-left: .4% !important;
}

#capitalJ .glyph .bottomHalfLeftStem {
	height: 74.2% !important;
}

#capitalK .glyph .topStroke {
	width: 49.2% !important;
	margin-right: .6%;
}

#capitalL .glyph .fullLeftStem {
	width: 99.6% !important;
}

#capitalM .glyph .partialLeftStem {
	width: 32% !important;
}

#capitalM .glyph .middleStem {
	width: 34.6% !important;
	margin-left: 32.6% !important;
}

#capitalM .glyph .partialRightStem {
	width: 32% !important;
}

#capitalW .glyph .partialLeftStem {
	width: 32% !important;
}

#capitalW .glyph .middleStem {
	width: 34.6% !important;
	margin-left: 32.6% !important;
}

#capitalW .glyph .partialRightStem {
	width: 32% !important;
}

/* X/1 = W */

.topBar, .crossBar, .bottomBar {
	width: 100%;
}

/* Y/4 = H */
.topBar, .crossBar, .bottomBar, .bowlTopBar, .halfCrossBar, .leftSpine, .leftDiagonalStroke, .rightDiagonalStroke, .threeQuarterCrossBar, .partialRightBowl, .bowlBottomBar {
	height: 25%;
}

/* Y/2 = H */
.rightSpine, .bottomTail, .rightBowl, .topHalfLeftStem, .bottomHalfLeftStem, .bottomLeg {
	height: 50%;
}

/* Y/1.34 = H */
.partialLeftStem, .partialRightStem, .threeQuarterLeftStem, .middleStem {
	height: 75%;
}


/* Y/1 = H */
.fullLeftStem, .fullRightStem {
	height: 100%;

}

/*COMPONENTS*/

.partialLeftStem {
	float: left;
}

.partialRightStem {
	float: right;
}

.fullLeftStem {
	float: left;
}

.fullRightStem {
	float: right;
}

.crossBar {
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	position: absolute;
}

.bowlTopBar {
	width: 87.5%;
}

.topBowl {
	height: 29%;
	margin-right: .2%;
	float: right;
}

.bottomBowl {
	height: 37%;
	float: right;
	clear: right;
	bottom: 0px;
}

.bottomBar {
	position:absolute;
	bottom: 0px; 	
}

.bowlBottomBar {
	width: 87.5%;
	position:absolute;
	bottom: 0px; 	
}

.rightBowl {
	float: right;
}

.halfCrossBar {
	width: 50%;
	float: right;
	margin-top: .4%;
}

.middleStem {
 	margin-left: auto;
  	margin-right: auto;
}

.halfMiddleStem {
	height: 62%;
	bottom: 0px;
	position: absolute;
	margin-left: 40%;
}

.bottomHalfLeftStem {
	position:absolute;
	bottom: 0px; 	
}

.topHalfRightStem {
	height: 50%;
	float: right;
}

.rightArm {
	height: 75%;
	float: right;
}

.middleVertex {
	margin-left: 20%;
	width: 60%;
}

.threeQuarterCrossBar {
	width: 60%;
  	top: 50%;
  	margin-left: 20%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	position: absolute;
}

.topStroke {
	height: 50%;
	margin-right: 12.5%;
	float: right;
}

.bottomLeg {
	margin-left: 80%;
	position: absolute;
	bottom: 0px; 	
}

.partialRightBowl {
	float: right;
}

.bottomTail {
	margin-left: 60%;
	position: absolute;
	bottom: 0px;
}

.rightSpine {
	float: right;
	bottom: 0;
	clear: both;
}

.rightDiagonalStroke {
	bottom: 0;
	clear: both;
}

.leftDiagonalStroke {
	float: right;
	clear: both;
}

.xTopLeft {
	height: 38%;
}

.xTopRight {
	height: 38%;
	float: right;
}

.xBottomLeft {
	height: 38%;
	bottom: 0;
	position: absolute;
}

.xBottomRight {
	height: 38%;
	margin-left: 80%;
	bottom: 0;
	position: absolute;
}

