/*MOBILE*/

@media only screen and (max-width: 1000px) {

	
	/*ALL HORIZONTAL DIVS*/
		.topBar, .crossBar, .bowlTopBar, .bottomBar, .bowlBottomBar, .halfCrossBar, .middleVertex, .threeQuarterCrossBar {
			height: 6% !important;
		}

	/*ALL VERTICAL DIVS*/
		.partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .topBowl, .bottomBowl, .rightBowl, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .threeQuarterLeftStem, .rightArm, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .topHalfLeftStem, .topHalfRightStem, .halfMiddleStem, .leftDiagonalStroke, .rightDiagonalStroke {
				width: 10% !important;
		}

	/*Fixing Letter G*/
	.bottomBowl {
		height: 49% !important;
	}

	/*Fixing Letter B, D*/
	.bowlTopBar, .bowlBottomBar {
		width: 90% !important;
	}

	.topBowl {
		margin-right: 10% !important;
	}

	.bottomLeg, .xBottomRight {
		margin-left: 90% !important;
	}

	.halfMiddleStem, .middleStem {
		margin-left: 46% !important;
	}

	.bottomTail {
		margin-left: 80% !important;
	}

	.topStroke {
		margin-right: 10% !important;
	}

	.xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight {
		height: 47%;
	}

	#capitalD .glyph .rightBowl {
		height: 88% !important;
	}

	#capitalG .glyph .bottomLeg {
		height: 58% !important;
	}

	/* X/1 = W */

	.topBar, .crossBar, .bottomBar {
		width: 100%;
	}

	/* X/1.34 = W */
	
	.threeQuarterCrossBar, .middleVertex {
		width: 80%;
		margin-left: 10%;
	}

	/* Y/4 = H */
	.topBar, .crossBar, .bottomBar, .bowlTopBar, .halfCrossBar, .leftSpine, .leftDiagonalStroke, .rightDiagonalStroke, .threeQuarterCrossBar, .partialRightBowl, .bowlBottomBar {
		height: 44%;
	}

	/* Y/2 = H */
	.rightSpine, .bottomTail, .rightBowl, .topHalfLeftStem, .bottomHalfLeftStem, .bottomLeg {
		height: 50%;
	}

	/* Y/1.34 = H */
	.partialLeftStem, .partialRightStem, .threeQuarterLeftStem, .middleStem, .rightArm {
		height: 94%;
	}

	/* Y/1 = H */
	.fullLeftStem, .fullRightStem {
		height: 100%;
	}

} /*DON'T DELETE > CLOSING CLAUSE FOR MEDIA QUERIES*/

/*DESKTOP*/

@media only screen and (min-width: 1000px) {

	/*ALL HORIZONTAL DIVS*/
		.topBar, .crossBar, .bowlTopBar, .bottomBar, .bowlBottomBar, .halfCrossBar, .middleVertex, .threeQuarterCrossBar {
			height: 8% !important;
		}

	/*ALL VERTICAL DIVS*/
		.partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .topBowl, .bottomBowl, .rightBowl, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .threeQuarterLeftStem, .rightArm, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .topHalfLeftStem, .topHalfRightStem, .halfMiddleStem, .leftDiagonalStroke, .rightDiagonalStroke {
				width: 5% !important;
		}

	/*Fixing Letter G*/
	.bottomBowl {
		height: 48% !important;
	}

	/*Fixing Letter B, D*/
	.bowlTopBar, .bowlBottomBar {
		width: 95% !important;
	}

	.topBowl {
		margin-right: 5% !important;
	}

	.bottomLeg, .xBottomRight {
		margin-left: 95% !important;
	}

	.halfMiddleStem, .middleStem {
		margin-left: 47% !important;
	}

	.bottomTail {
		margin-left: 90% !important;
	}

	.topStroke {
		margin-right: 5% !important;
	}

	.xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight {
		height: 46%;
	}

	#capitalD .glyph .rightBowl {
		height: 84% !important;
	}

	#capitalG .glyph .bottomBowl {
		height: 26% !important;
	}

	#capitalS .glyph .rightSpine {
		height: 45% !important;
	}

	/* X/1 = W */

	.topBar, .crossBar, .bottomBar {
		width: 100%;
	}

	/* X/1.34 = W */
	
	.threeQuarterCrossBar, .middleVertex {
		width: 90%;
		margin-left: 5%;
	}

	/* Y/4 = H */
	.topBar, .crossBar, .bottomBar, .bowlTopBar, .halfCrossBar, .leftSpine, .leftDiagonalStroke, .rightDiagonalStroke, .threeQuarterCrossBar, .partialRightBowl, .bowlBottomBar {
		height: 45%;
	}

	/* Y/2 = H */
	.rightSpine, .bottomTail, .rightBowl, .topHalfLeftStem, .bottomHalfLeftStem, .bottomLeg {
		height: 52%;
	}

	/* Y/1.34 = H */
	.partialLeftStem, .partialRightStem, .threeQuarterLeftStem, .middleStem, .rightArm {
		height: 92%;
	}

	/* Y/1 = H */
	.fullLeftStem, .fullRightStem {
		height: 100%;
	}

} /*DON'T DELETE > CLOSING CLAUSE FOR MEDIA QUERIES*/


/*UNIT*/
	.glyph {
		margin-left: 5%; /*BASE-VALUE: 5%*/
		margin-right: 5%; /*BASE-VALUE: 5%*/
		margin-top: 5%; /*BASE-VALUE: 5%*/
		margin-bottom: 5%; /*BASE-VALUE: 5%*/
		height: 800px; /*BASE-VALUE: 800px*/
		position: relative;
	}


/*APPLY ALL COLOR*/
	body {
		background-color: black;
	}

	.topBar, .partialLeftStem, .partialRightStem, .fullLeftStem, .fullRightStem, .crossBar, .bowlTopBar, .topBowl, .bottomBowl, .bottomBar, .bowlBottomBar, .rightBowl, .halfCrossBar, .middleStem, .halfLeftStem, .topStroke, .bottomLeg, .partialRightBowl, .bottomTail, .period, .explanationMark, .bottomHalfLeftStem, .leftSpine, .rightSpine, .rightArm, .threeQuarterLeftStem, .middleVertex, .xTopLeft, .xTopRight, .xBottomLeft, .xBottomRight, .threeQuarterCrossBar, .halfMiddleStem, .topHalfLeftStem, .topHalfRightStem, .leftDiagonalStroke, .rightDiagonalStroke{
		background-color: white;
	}



/*COMPONENTS*/

.partialLeftStem {
	float: left;
}

.partialRightStem {
	float: right;
}

.fullLeftStem {
	float: left;
}

.fullRightStem {
	float: right;
}

.crossBar {
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	position: absolute;
}

.bowlTopBar {
	width: 87.5%;
}

.topBowl {
	height: 44%;
	margin-right: 12.5%;
	float: right;
}

.bottomBowl {
	height: 37%;
	float: right;
	clear: right;
	bottom: 0px;
}

.bottomBar {
	position:absolute;
	bottom: 0px; 	
}

.bowlBottomBar {
	width: 87.5%;
	position:absolute;
	bottom: 0px; 	
}

.rightBowl {
	float: right;
}

.halfCrossBar {
	width: 50%;
	margin-left: 50%;
	float: right;
	position: absolute;
	top: 40%;
}

.middleStem {
 	margin-left: auto;
  	margin-right: auto;
}

.halfMiddleStem {
	height: 50%;
	bottom: 0px;
	position: absolute;
	margin-left: 40%;
}

.bottomHalfLeftStem {
	position:absolute;
	bottom: 0px; 	
}

.topHalfRightStem {
	height: 50%;
	float: right;
}

.rightArm {
	float: right;
}

.threeQuarterCrossBar {
  	top: 50%;
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
  	position: absolute;
}

.topStroke {
	height: 50%;
	float: right;
}

.bottomLeg {
	margin-left: 96%;
	position: absolute;
	bottom: 0px; 	
}

.partialRightBowl {
	float: right;
}

.bottomTail {
	margin-left: 60%;
	position: absolute;
	bottom: 0px;
}

.rightSpine {
	float: right;
	bottom: 0;
	clear: both;
}

.rightDiagonalStroke {
	bottom: 0;
	clear: both;
}

.leftDiagonalStroke {
	float: right;
	clear: both;
}

.xTopRight {
	float: right;
}

.xBottomLeft {
	bottom: 0;
	position: absolute;
}

.xBottomRight {
	margin-left: 80%;
	bottom: 0;
	position: absolute;
}

